---
layout: base.njk
title: All the data from showcase.joomla.org
---
<script src="/js/data.esm.js" type="module" defer></script>
<style>{{ 'css/data.css' | inlineCss | safe }}</style>

{% include "nav.njk" %}

<div id="content">
    <h1> Please wait, we're loading the required data (almost 1Mb)...</h1>
</div>
