---
layout: base.njk
title: Some thoughts
---
{% include "nav.njk" %}

<style>{{ 'css/index.css' | inlineCss | safe }}</style>

<blockquote>
   <p><b>The point of this site is to shed some light on the <i>bottlenecks</i> of the CMS and provide some highly biased solutions (my take on these problems).</b></p>
   <footer>—dGrammatiko, <cite>the author</cite></footer>
</blockquote>

<blockquote>
   <p><b>If you think that this might be offensive please navigate away right now</b></p>
   <footer>—dGrammatiko, <cite>the author</cite></footer>
</blockquote>

<h1>So, is Joomla 4 on a winning trajectory?</h1>
<p>The hardcore volunteers will tell you that Joomla 4 will be the best release ever. I spend way too much time coding various parts for Joomla 4 and I will also love to see the product succeeding. But, this is far from the actual reality. Unfortunately, Joomla 4 doesn't fix many of the essential problematic areas that exist in the product for far too many years and lead the broader web community to perceive the CMS as a toy, non-pro solution. So what are these problems? Is there still time to fix them? Can we make Joomla relevant and a possible solution for the current mobile web?</p>
<p>Since this virus (COVID-19) outbreak, the data-driven actions were popularised. So, let's dig into some real data from the showcase directory to draw some informative conclusion, shall we?</p>

<div class="flex-wrapper">
   <h2>No HTTPS protocol</h2>
   <div class="single-chart">
   <svg viewBox="0 0 36 36" class="circular-chart red">
      <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
      <path class="circle" stroke-dasharray="55, 100"d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <text x="18" y="20.35" class="percentage">55%</text>
   </svg>
   </div>
   <div>
   <p>It seems that most of the Joomla sites out there are stack into another period when non-secure sites were the defacto. Nowadays according to the stats of web archive most sites are build using the secure protocol.</p>
   <p>According to <a rel="external" href="https://w3techs.com/technologies/details/ce-httpsdefault">w3techs</a> the percentage of the websites that are using https as the default protocol is 60%. It seems to me that projects Like Joomla and WP although they make it quite easy to publish a site, they also account for most of this 40% of the non-https based sites</p>
   </div>
   <h3>Remedy: if we can't force HTTPS then we shall educate people and aggressively promote HTTPS!</h3>
</div>
<hr>

<div class="flex-wrapper">
   <h2>Violating the L in the RAIL</h2>
   <div class="single-chart">
   <svg viewBox="0 0 36 36" class="circular-chart red">
      <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
      <path class="circle" stroke-dasharray="94, 100"d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <text x="18" y="20.35" class="percentage">94%</text>
   </svg>
   </div>
   <div>
   <p>Google, some years ago, came up with the acronym <a rel="external"href="https://developers.google.com/web/fundamentals/performance/rail">RAIL</a>, which essentially means Response, Animation, Idle, Load, to assist web developers to be successful in the new form factor (mobiles).</p>
   <p>The data from the showcase directory is very disappointing as the majority of the sites seems to violate the Load time (we're interested in the time it takes a site to paint something -anything else than a blank screen is ok-ish here- in the screen after a navigation command)</p>
   <p>Now, this has very severe consequences as the load time also affects SEO and the User Experience.</p>
   </div>
   <h3>Remedy: <a href="/fixit/">fix the bloody static assets</a></h3>
</div>
<hr>

<div class="flex-wrapper">
   <h2>Further violation of the L in the RAIL</h2>
   <div class="single-chart">
   <svg viewBox="0 0 36 36" class="circular-chart red">
      <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
      <path class="circle" stroke-dasharray="72.49, 100"d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
      <text x="18" y="20.35" class="percentage">72.49%</text>
   </svg>
   </div>
   <div>
   <blockquote cite="https://developers.google.com/web/fundamentals/performance/get-started">
      <p>Loading time is a major factor in page abandonment and loyalty; 53% of users report that they abandon sites that take more than three seconds to load (source:<a rel="external" href="https://soasta.com/blog/google-mobile-web-performance-study/">SOASTA Google study report</a>).</p>
      <footer>—Google Web Fundamentals, <cite>Performance, Loading</cite></footer>
   </blockquote>
   <p>I'll be brief on this one: 72.49% of the sites on the showcase directory will display a blank page for more than 3 seconds (<b>read the linked article in the quote above</b>)...</p>
   </div>
   <h3>Remedy: <a href="/fixit/">fix the bloody static assets</a></h3>
</div>
<hr>