---
layout: base.njk
title: Some thoughts
---
{% include "nav.njk" %}

<style>{{ 'css/index.css' | inlineCss | safe }}</style>

<h1>This site was created by Dimitris Grammatikogiannis</h1>
<h2>So am I entitled to critisize other people's work?</h2>

<p>The answer is NO and neither this site was created to disgrace fellow web developers or Joomla integrators</p>

<blockquote>
   <p><b>The point of this site is to shed some light on the <i>bottlenecks</i> of the CMS and provide some highly biased solutions (my take on these problems).</b></p>
   <footer>—dGrammatiko, <cite>the author</cite></footer>
</blockquote>

<h3>A little bit about me:</h3>
<p>I'm a long time Joomla user and community member. Further more:</p>
<ul>
   <li>Some years ago I reduced the usage of Mootools to only a couple of views</li>
   <li>I've moved almost all the form fields to JLayouts</li>
   <li>I've implemented the drag and drop fro tinyMCE</li>
   <li>I redesigned and prototyped the Joomla 4 installation</li>
   <li>As the leader of the Javascript Group, I've pushed for eliminating the usage of jQuery in J4</li>
   <li>I've introduced Web Components to J4</li>
   <li>I've rolled out the <i>build-tools</i> for the front end part of J4</li>
   <li>I've spent a significant time to finalize the transition to ES6</li>
   <li>As a member of the new Media Manager group I rolled the drag and drop file upload, the media form field and the images edit part</li>
   <li>As a liaison to Accessibility group, I helped them build their own static site, etc</li>
   <li>As a liaison to UX group, I contributed many ideas (some are part of the backend template, eg: simplified menu</li>
   <li>A lot more that I don't even remeber...</li>
</ul>
