<style>{{ 'css/nav.css' | inlineCss | safe }}</style>
<div class="wrapper">
  <nav class="navbar">
    <ul class="nav-links">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/data/">Data</a></li>
      <li class="nav-item"><dark-light-switch></dark-light-switch></li>
    </ul>
  </nav>
</div>