<style>{{ 'css/nav.css' | inlineCss | safe }}</style>
<nav class="navbar">
  <ul class="nav-links">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/data/">Data</a></li>
    <li class="nav-item"><a href="/fixit/">Fix it</a></li>
    <li class="nav-item"><a href="/who/">Who?</a></li>
    <li class="nav-item"><a rel="external" href="https://github.com/dgrammatiko/showcase-audit">Source</a></li>
    <li class="nav-item"><dark-light-switch></dark-light-switch></li>
  </ul>
</nav>
